header {
    background-color: #082A47;
    height: 40px;
}

.header, .div_navbar, .div_main, .div_board, .div_postWrite {
    width: 1140px;
}


nav a:hover {
    text-decoration:none;
}

.span_header-menu a:hover {
    text-decoration:underline ;
}

header span {
        color: #CCCCCC;
        font-size: 12px;
        line-height: 40px;
}

.span_header-menu a {
    color: #CCCCCC;
}

.navbar-brand img{
    height: 50px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown:hover {
    background-color: #e9ecef;
}

nav {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
    margin-bottom: 20px;
}

.board_small {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar{
    border: 1px solid;
    border-color: #CCCCCC;
    padding: 15px;
}

.sidebar h3 {
    border-bottom: solid 2px;
    border-color:#3498db;
    font-size: 15px;
    padding-bottom: 5px;
}

#form_login_sidebar a {
    color: black;
    font-size: 13px;
}

#form_login_sidebar a:hover {
    text-decoration:underline ;
}

#form_login_sidebar {
    margin-bottom: 30px
}

ul {
    list-style:none;
    padding-left:0px;
}

.sidebar {
    width: 244.5px;
}

.board_small * {
    font-size: 13px;
    color: black;
}

.board_small_title{
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #000;
    text-align: left;
    border-bottom: 2px solid #000;
}

.board_small_list td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

table {
    width: 100%;
}

.card {
    border: none;
}

/* board_view.php */

.board, .postWrite, .postView{
    width:847.5px;
}

.board h3, .postWrite h3, .postView h3{
    font-size: 18px;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 20px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.board .form-control{
    width: auto;
}

.table_board th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table_board td, .table_board th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 13px;
}

.board .table_board {
    border-top: 2px solid #000;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

.button_write {
    font-size: 13px;
    margin: 20px;
}

.div_write ul {
    display: flex;
}

/* signup_view */

.div_signup {
    width: 870px;
}

.div_signup .card{
    border: 1px solid #ddd;
}
.div_signup form select {
    width: auto;
}

.card-footer div {
    display: flex;
}

/* header_view */

.span_header-menu {
    margin-left: 10px;
}

.header .row div:last-child {
    display: flex;
}

/* postView */

.div_postInfo label {
    font-size: 13px;
    padding-right: 20px;
}

.div_postInfo label:last-child {
    font-size: 12px;
}

.div_postInfo div:last-child{
    display: flex;
}

.postView .content {
    padding: 20px;
}

.div_thumb a{
    background-color: #ddd;
    border-radius:75px;
    text-align:center;
    vertical-align:middle;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.div_thumb a:hover{
    background-color: #0d6efd;
    text-decoration:none;
}

.div_thumb a:hover {
    text-decoration:none;
    color : #fff;
}

.div_portView_button {
    padding: 20px;
}

.div_portView_button a {
    font-size: 13px;
}

/* common */

.container-flex {
    display: flex;
}

a {
    text-decoration:none;
    color :black;
}






